.page {
  margin: 15px;
  &__title {
    font-size: 16px;
    font-weight: 700;
  }
}

.article {
  margin: 15px 0;
  &__title {
    font-size: 16px;
    font-weight: 700;
  }
  &__body {
    // max-height: 200px;
    // overflow-y: auto;
    margin-top: 15px;
    font-size: 14px;
  }
  &__comments {
    margin: 30px 15px 30px 30px;
  }
}
